sync/config
sync/windows/bin/
sync/linux/bin/
sync/shared/config
sync/shared/kubejoin.ps1
sync/shared/kubeadm.yaml
sync/shared/variables.yaml
kubernetes
.vagrant/

# semaphores during build
.lock/
.idea/
