sync/config
sync/windows/download/
sync/linux/download/
sync/shared/config
sync/shared/kubejoin.ps1
sync/shared/kubeadm.yaml
sync/shared/settings.yaml
kubernetes
.vagrant/
settings.local.yaml

# semaphores during build
.lock/
.idea/

# logs during build
*.log
